/* font */
@font-face {
    font-family: 'noto';
    src: url('/assets/fonts/noto/notosans-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('/assets/fonts/noto/notosans-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Minimal CSS reset from Digital Ocean */
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "noto";
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body{
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: 1.25fr 5fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas: 
    "sidebar header"
    "sidebar main-content"
}

a {
  text-decoration: none;  /* Removes underline */
  color: inherit;         /* Makes link color match surrounding text */
  background: none;       /* Remove highlight if browser applies it */
  font: inherit;          /* Inherit font settings */
  /* cursor: inherit;        If you don’t want a pointer cursor */
  outline: none;          /* Optional: remove focus outline */
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* Header */
.header{
  grid-area: header;
  display: grid;
  padding: 1em;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:"top" "bottom";
  grid-template-columns: 1fr;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.top {
  grid-area: top;
  display: flex;
  /* border: 2px solid black; */
}

div.search {
  /* border: 2px solid blue; */
  display: flex;
  padding-left: 2em;
}

.search>button>svg {
  height: 1.5em;
  width: 1.5em;
}

form.search {
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
  gap: 1em;
}

.search>input {
  border-radius: 1em;
  height: 2em;
  width: 50em;
  border: none;
  outline: none;
  background-color: #e2e6f0;
}

.profile {
  /* border: 2px solid pink; */
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  align-items: center;
  flex: 1;
  padding-right: 2em;
}

.notification-icon {
  height: 1.5em;
  width: 1.5em;
}

.profile-pic>svg {
  width: 40px;
  height: 40px;
  background-color: #fff;       /* or any background */
  border-radius: 50%;           /* makes it circular */
  display: flex;                /* centers the svg */
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); optional shadow */
}

.profile>.username {
  font-size: 18px;
  font-weight: bold;
}

/* .bottom>*{
  border: 2px solid blue;
}
.bottom>*>* {
  border: 2px solid black;
} */

.bottom {
  grid-area: bottom;
  display: flex;
}

.greeting {
  display: flex;
  gap: 2em;
  padding-left: 2em; 
}

.greeting-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.greeting-text>p {
  font-weight: bold;
}

.greeting-text>p.user {
  font-size: x-large;
}

.greeting-pic>svg {
  width: 80px;
  height: 80px;
  background-color: #fff;       /* or any background */
  border-radius: 50%;           /* makes it circular */
  display: flex;                /* centers the svg */
  align-items: center;
  justify-content: center;
}

.quick-actions{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2em;
  padding-right: 2em;
  font-weight: bold;
  flex: 1;
}

.quick-actions>button {
  background-color: #3382d5;
  font-size: 16px;
  height: 2.5em;
  color: white;
  border-radius: 1.75em;
  width: 6em;
}

/* Sidebar */
.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  background-color: #3382d5;
  gap: 2em;
  align-items: flex-start;
  padding: 30px;
}

.utility-menu {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.navigation-menu {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.sidebar-links.main {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;

}

.svg-box {
  display: flex ;
  place-items: center;
  place-content: center;
  height: 40px;
  width: 40px;
  margin-right: 15px;
}

.sidebar-links.main>.svg-box>svg {
  height: 1.5em;
  width: 1.5em;
}

.sidebar-links {
  font-size: 20px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.sidebar-links>.svg-box>svg {
  height: 1em;
  width: 1em;
}

/* Main Content */
.main-content {
  grid-area: main-content;
  background-color: #e2e6f0;
  display: grid;
  grid-template-columns: 11fr 4fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "projects announcements" "projects trending";
  padding: 2em;
  gap: 1em;
}

.projects{
  grid-area: projects;
  display: flex;
  flex-direction: column;

}

p.heading {
  font-size: larger;
  font-weight: bold;
  padding-bottom: 0.5em;
}

.project-grid {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em;
}

.project-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 2em;
  border-radius: 10px;
  border-left: 10px solid #1e3e5e;
  flex: 1;
}

.card-content{
  color: #888888;
  font-size: 18px;
  line-height: 1.5em;
}

.card-heading {
  color: black;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5em;
}

.project-options-container {
  display: flex;
  align-self: flex-end;
  justify-self: flex-end;
  place-self: flex-end;
  margin-top: auto;
}

.project-options-container>.svg-box>svg{
  fill  : #444444;
  height: 1.5em;
  width: 1.5em;
  
}

.announcements {
  grid-area: announcements;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.announcements-container {
  flex: 1;
  background-color: #fff;
  border-radius: 10px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.announcement {
  font-weight: bolder;
  line-height: 2em;
}

.announcement-content {
  color: #888888;
}

hr {
  border: none;
  height: 2px;
  background-color: #ccc;
  margin: 2rem 0;
}


.trending {
  grid-area: trending;
  display: flex;
  flex-direction: column;
}

.trending-grid {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(4, 1fr);
  background-color: #fff;
  border-radius: 10px;
  padding: 2em;
  gap: 1em;

}

.profile-icon>svg{
  width: 60px;
  height: 60px;
  background-color: #fff;       /* or any background */
  border-radius: 50%;           /* makes it circular */
  display: flex;                /* centers the svg */
  align-items: center;
  justify-content: center;
}

.post {
  color: #888888;
}

.trending-post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5em;
  padding-top: 10px;
}